@model MVCDatabaseFirstProject_TrainingAcademy.Models.ViewModel.StudentViewModel
@{
    ViewBag.Title = "Create";
    Layout =null ;

}

<h2>Create Student</h2>

@using (Html.BeginForm("Create", "Students", FormMethod.Post,
    new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div>
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="from-group">
            @Html.LabelFor(model => model.StudentName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StudentName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StudentName, "",
                new { @class = "text-danger" })
            </div>
        </div>
        <div class="from-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "",
                new { @class = "text-danger" })
            </div>
        </div>

        <div class="from-group">
            @Html.LabelFor(model => model.AdmissionDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AdmissionDate, new { htmlAttributes = new { @class = "form-control datetimepicker" } })
                @Html.ValidationMessageFor(model => model.AdmissionDate, "",
                new { @class = "text-danger" })
            </div>
        </div>
        <div class="from-group">
            @Html.LabelFor(model => model.ImageUrl, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <img src="~/App_Images/noImage.jpg" height="80" width="80" class="change_Edit" />
                <input type="file" id="imageChange1" name="ImageFile" required class="form-control imageChange" />

            </div>
        </div>
        <div class="from-group">
            @Html.LabelFor(model => model.TrainingId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.TrainingId,
               new SelectList(ViewBag.Trainings, "TrainingId", "TrainingName"), "Select Training")
                @Html.ValidationMessageFor(model => model.TrainingId, "",
               new { htmlAttributes = new { @class = "text-danger" } })
            </div>
        </div>
        <div class="from-group">
            @Html.LabelFor(model => model.TrainerId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.TrainerId,
               new SelectList(ViewBag.Trainers, "TrainerId", "TrainerName"), "Select Trainer")
                @Html.ValidationMessageFor(model => model.TrainerId, "",
               new { htmlAttributes = new { @class = "text-danger" } })
            </div>
        </div>
        <div class="from-group">
            @*<input type="submit" value="Save" class="btn btn-lg btn-info"/>*@
            <input type="submit" value="Save" class="btn btn-lg btn-info" />
        </div>
        @Html.ActionLink("Back to list", "Index")
    </div>
}
@*<script src="~/Scripts/jquery-3.3.1.min.js"></script>*@
@*<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@
<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script>
    $(function () {
        $('.imageChange').change(function () {
            var input = this;
            if (input.files) {
                var rdr = new FileReader();
                rdr.onload = function (e) {
                    $('.change_Edit').attr('src', e.target.result);
                }
                rdr.readAsDataURL(input.files[0]);
            }
        })
    })
</script>
