@model MVCDatabaseFirstProject_TrainingAcademy.Models.tblUser
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>
<div class="row container-fluid bg-info">
    <div class="col-sm-3">

        <img src="~/App_Images/sportLogin.jfif" height="300" width="250" />
    </div>
    <div class="col-md-8">
        <section>
            <div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2 text-light" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2 text-light" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", Type = "password" } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Login" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div>
                @Html.ActionLink("Got to Sign Up..", "SignUp", "Account")
            </div>
        </section>
    </div>

</div>